<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #E0CDA9; /* Color de fondo */
            color: #473B25; /* Color del texto */
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #7D6B4D; /* Color del título */
        }

        p {
            color: #473B25; /* Color del texto normal */
        }
    </style>
</head>
<body>
    {% block TITULO %}
        
    {% endblock TITULO  %}

    {% block CONTENIDO %}
        
    {% endblock CONTENIDO %}
</body>
</html>